<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ble_gatt_example">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_facnroll"
        android:label="FACNROLL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity android:name=".FragActivity" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".SignUp" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Settings.barcode_mode" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Settings.barcode_time" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".HistoryDetail" android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|keyboard"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>